.admin-content-container {
    margin-top: 20px;
    background-color: #fff;
    border-top: 4px #e7eaec solid;
    padding: 15px;
}

.dashboard-left-cell {
    padding-right: 5px;
}

.dashboard-right-cell {
    padding-right: 5px;
}

.admin-content-container header {
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
}

.admin-content-container h5 {
    margin: 0;
    padding-top: 3px;
}

.text-link {
    color: #676a6c;
}

.text-link:hover {
    color: #676a6c;
}

.commenter-name-dash {
    font-weight: bold;
    font-size: 13px;
}

.comment-head-dash {
    margin-bottom: 6px;
}

.comment-dash {
    margin-bottom: 5px;
}

.comment-date-dash {
    color: #999;
}
#dashboard-container {
    padding-bottom: 100px;
}
